In [237]:
import mysql.connector

### Connecting mysql to python

In [238]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "aryan2000",
    database = "testdb"
)

In [239]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x109e348d0>

### pointing a cursor to the database

In [240]:
mycursor = mydb.cursor()

### Creating the Database

In [241]:
#mycursor.execute("CREATE DATABASE testdb")

### Show the database

In [242]:
# mycursor.execute("SHOW DATABASES")
# for db in mycursor:
#     print(db)

### Create the table

In [243]:
# mycursor.execute("create table students (name varchar(255), age integer(10))")

### Show the table in the testdb database

In [244]:
# mycursor.execute("show tables")
# for t in mycursor:
#     print(t)

### Adding a record to the table

In [245]:
sqlQuery = "insert into students (name, age) values (%s, %s)"
student1 = ("Rachel", 22)
mycursor.execute(sqlQuery, student1)
mydb.commit()

### Adding multipe records to a table

In [246]:
sqlQuery = "insert into students (name, age) values(%s, %s)"
student = [("Rachel", 23), ("Jon Jones", 36), 
           ("Alex", 35), ("Tom", 31), 
           ("Mike", 58), ("CR7", 39),
           ("Aryan", 24), ("Lebron", 39)]
mycursor.executemany(sqlQuery, student)
mydb.commit()

In [247]:
#print(students)

In [248]:
def printTable():
    mycursor = mydb.cursor()
    sqlDisplay = "select * from students"
#mycursor = mydb.cursor()
    mycursor.execute(sqlDisplay)
    myresult = mycursor.fetchall()
    for i in myresult:
        print(i)

### where and wildcards

In [249]:
sqlQuery = "select * from students where age > 31"
mycursor.execute(sqlQuery)
myresult = mycursor.fetchall()
for i in myresult:
    print(i)

('Jon Jones', 36)
('Alex', 35)
('Jordan', 58)
('CR7', 39)
('Lebron', 39)
('Jon Jones', 36)
('Alex', 35)
('Jordan', 58)
('CR7', 39)
('Lebron', 39)
('Jon Jones', 36)
('Alex', 35)
('Jordan', 58)
('CR7', 39)
('Lebron', 39)
('Jon Jones', 36)
('Alex', 35)
('Jordan', 58)
('CR7', 39)
('Lebron', 39)
('Jon Jones', 36)
('Alex', 35)
('Jordan', 58)
('CR7', 39)
('Lebron', 39)
('Jon Jones', 36)
('Alex', 35)
('Mike', 58)
('CR7', 39)
('Lebron', 39)

In [250]:
sqlQuery = "select * from students where name = %s"
mycursor.execute(sqlQuery, ("CR7", ))
myresult = mycursor.fetchall()
for i in myresult:
    print(i)
    
# use %s for a placeholder and then call mycursor.execute() with parameter as a tuple

('CR7', 39)
('CR7', 39)
('CR7', 39)
('CR7', 39)
('CR7', 39)
('CR7', 39)

### updating the table and limiting the results of queries

In [251]:
sqlQuery = "update students set name = %s where name = %s"
mycursor.execute(sqlQuery, ("Jordan", "Mike", ))
mydb.commit()
#printTable()

In [252]:
#def limitView():
mycursor = mydb.cursor()
sqlQuery = "select * from students limit 5 offset 2"
mycursor.execute(sqlQuery)
myresult = mycursor.fetchall()
for i in myresult:
    print(i)
    #printTable()

('Rachel', 23)
('Jon Jones', 36)
('Alex', 35)
('Tom', 31)
('Jordan', 58)

In [253]:
#limitView(5, 2)